body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

.title {
    margin: 0;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.inputs {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.inputs p {
    margin: 10px 0;
}

input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.simulator-Container {
    display: flex; 
    margin-top: 20px;
    overflow-x: auto; 
    flex-direction: column;
    width: 100%; 
}

.floor {
    background-color: #827c7c;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: space-between;
    border: 1px solid #ccc;
    position: relative;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.controls-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
}

.controls-container button {
    margin: 1px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controls-container button:hover {
    background-color: #45a049;
}

.lifts-container {
    position: absolute;
    left: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.lift {
    width: 60px;
    height: 80px;
    background-color: #008CBA;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 0 5px;
    transition: transform 0.5s ease; 
    transition: -webkit-transform 0.5s ease;
}

.lift-door {
    width: 50%;
    height: 100%;
    background-color: #fff;
    top: 0;
    transition: transform 2.5s ease;
}

.left-door {
    left: 0;
    transform-origin: left;
}

.right-door {
    right: 0;
    transform-origin: right;
}

.lift-door.open {
    transform: translateX(-100%); 
}

.lift-door.open.right-door {
    transform: translateX(100%); 
}

@media (max-width: 600px) {
    .inputs {
        width: 95%;
    }

    .floor {
        font-size: 14px; 
    }

    .lift {
        width: 50px;
        height: 80px; 
    }
}
